@inject UserManager<User> UserManager
@{
    var currentUser = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie Minds</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/movieDetails.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/discover.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <base href="~/" />
</head>
<body>
     <nav>
        <a href="/">
            @* <div class="logo-placeholder">MOVIEMINDS</div> *@
            <img class="nav-Img" src="/images/MovieMindsLogo.png" alt="Logo">
        </a>
        
        <ul class="new-Links" id="navSection">
            <li><a href="/">Home</a></li>
            <li><a asp-controller="Discover" asp-action="Discover">Films</a></li>
            @if(User.Identity != null && User.Identity.IsAuthenticated)
            {
                <li>
                    <span>@(currentUser?.DisplayName ?? @User.Identity.Name)</span>
                    
                    <div>
                        <a asp-controller="Account" asp-action="Logout"></a>
                    </div>
                </li>
            }
            else
            {
                <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                <li><a asp-controller="Account" asp-action="Login">Login</a></li>
            }
        </ul>
                
        <!-- Search bar section -->
        <form id="searchForm" action="/Discover/Search/Movie">
            <div class="search-Bar">
                <input id="searchInput" type="text" name="query" placeholder="Search Movies...." required>
                <button type="submit">
                    <img src="/images/SearchLogo.png" alt="search-Logo">
                </button>
            </div>        
        </form>
    </nav>

    <div>
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </div>

    <script src="~/_framework/blazor.server.js"></script>
</body>
<footer>
    <div class="footer-container"></div>
        <p>© 2025 Karim Shady. All rights reserved.</p>
        <p>Special Thanks for TMDB For providing the API</p>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/karimshady1/" target="_blank" class="social-icon">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Karimshady81" target="_blank" class="social-icon">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.instagram.com/karim_shady/" target="_blank" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>
</html>
