@model IEnumerable<MovieMinds.Models.DTO.TmdbMovieDto>

<div class="home-Img">
    <img src="\Images\HomeBanner.jpg"/>
    <div class="home-Text">
        <h1>
            Welcome to MovieMinds! Dive into your movie diary, rate your favorites, 
            and capture your cinematic journey just for you
        </h1>     
    </div>
</div>
<div class="home-Container">
    <h2 class="container-Title">Now Playing</h2>
    <div class="home-Grid">  
        @foreach(var movie in Model)
        {
            <div class="movie-Banner">
                <a class="movie-Details" asp-controller="MovieDetails" asp-action="Details" asp-route-id="@movie.Id">
                    <div>
                        <img class="movie-Card-Img" src="https://image.tmdb.org/t/p/original/@movie.PosterPath" alt="@movie.Title"/>
                        <p class="movie-Card-Title">@movie.Title</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>