<div class="home-Img">
    <div class="home-Text">
        <h1>Welcome to MovieMinds! Dive into your movie diary, rate your favorites, 
            and capture your cinematic journey just for you</h1>     
    </div>
</div>