@model MovieMinds.Models.Entites.Movie

<div class="movie-Backdrop">
    <img src="https://image.tmdb.org/t/p/w500/@Model.BackdropPath" alt="@Model.Title"/>
</div>
<div class="movie-Details-container">
   <div class="movie-Poster">
       <img src="https://image.tmdb.org/t/p/w500/@Model.PosterPath" alt="@Model.Title"/>
   </div>
</div>