<div >
    <div >
        <form asp-action="Register" >
            <div class="error-Message"></div>
            <div>
                <span class="close-Sign-In">&times;</span>
                <label for="username" class="name-label">Username</label>
                <input type="text" class="sign-In-Input" id="signInUsername" name="username" required>

                <label for="password" class="password-label">Password</label>
                <input type="password" class="sign-In-Input" id="signInPassword" name="password" required>

                <button type="submit" class="submit-Btn">Sign In</button>
            </div>
        </form>
    </div>
</div>